downloads/binutils-2.24-1-mingw32-bin.tar.xz filter=lfs diff=lfs merge=lfs -text
downloads/bitcoin-leveldb-1.17.tar.gz filter=lfs diff=lfs merge=lfs -text
downloads/db-4.8.30.NC.tar.gz filter=lfs diff=lfs merge=lfs -text
downloads/libintl-0.18.3.2-1-mingw32-dll-8.tar.xz filter=lfs diff=lfs merge=lfs -text
downloads/openssl-1.0.1u.tar.gz filter=lfs diff=lfs merge=lfs -text
downloads/zlib-1.2.8.tar.gz filter=lfs diff=lfs merge=lfs -text
downloads/gcc-5.1.0-tdm-1-c++.tar.lzma filter=lfs diff=lfs merge=lfs -text
downloads/gdb32-7.9.1-tdm-1.tar.lzma filter=lfs diff=lfs merge=lfs -text
downloads/make-3.82.90-2-mingw32-cvs-20120902-bin.tar.lzma filter=lfs diff=lfs merge=lfs -text
downloads/mingwm10_gcc492-TDM.7z filter=lfs diff=lfs merge=lfs -text
downloads/mingwrt-3.20-2-mingw32-dev.tar.lzma filter=lfs diff=lfs merge=lfs -text
downloads/qrencode-3.4.4.tar.gz filter=lfs diff=lfs merge=lfs -text
downloads/CB_20151115_rev10574_win32.7z filter=lfs diff=lfs merge=lfs -text
downloads/gcc-5.1.0-tdm-1-core.tar.lzma filter=lfs diff=lfs merge=lfs -text
downloads/libpng-1.6.20.tar.gz filter=lfs diff=lfs merge=lfs -text
downloads/miniupnpc-1.9.20150206.tar.gz filter=lfs diff=lfs merge=lfs -text
downloads/qt-everywhere-opensource-src-4.8.6.tar.gz filter=lfs diff=lfs merge=lfs -text
downloads/wxmsw28u_gcc_cb_wx2812_gcc492-TDM.7z filter=lfs diff=lfs merge=lfs -text
downloads/7za920.zip filter=lfs diff=lfs merge=lfs -text
downloads/boost_1_58_0.tar.bz2 filter=lfs diff=lfs merge=lfs -text
downloads/gcc-5.1.0-tdm-1-dw2-core.tar.lzma filter=lfs diff=lfs merge=lfs -text
downloads/w32api-3.17-2-mingw32-dev.tar.lzma filter=lfs diff=lfs merge=lfs -text
